.nav-style{
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    box-shadow: 0 2px 0 0 rgba(77, 75, 75, 0.151);
    background-color: white;
    opacity: 0.8;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
img{
width: 250px;
}
.sub-nav{
      display: flex;
      justify-content: space-between;
}
.link-nav{
    margin:0 15px;
    text-decoration: none;
    font-size: 20px;

}
.link-nav :hover{
    color:#00b39b
}

.image{
    width: 40px;
    margin-top: 10px;
}
#titre{
    margin-top: 15px;
    text-align: center;
    color:#00b39b;
    font-size: 30px;
    font-weight: 300;
}
  .articles{
       margin-top: 3%;
       display: flex;
  }
#articlea{
    width: 30rem;
    margin-left: 15REM;
}
#articleb{
    width: 30rem;
    margin-left: 10REM;
}
.logo{
    text-align: center;
}


.green{
    background-color: #00ccb1;

}
.bleu{
    background-color: #3d83df;
}
.black{
    background-color: #1b2734;
    color: white;
  
}
.white{
    background-color: white;
    width: 5%;
    height: 2rem;
}
.grid-container{
    margin-top: 13%;
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-template-rows: 10%;
    grid-template-areas:"white green bleu black ";
}
.cards{
    padding:10px;
    width: 330px;
    height: 365px;
    border-radius: 10px;
}
